.poppins-google-font {
  font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* shere style  */
.display-flex  {
    display: flex;

}


/* color section style  */
.almost-red {
    background-color: #E02C6D;
}
.for-head {
    color: #3A3A3A;
}
.btn {
    width: 196px;
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    border-radius: 30px;

}

/* main style  */

/* nav related style  */
.nav-container {
    justify-content: space-around;
    margin-top: 87px;
    margin-bottom: 170px;
    /* max-width: 1160px;
    margin: 0 auto; */
}
.banner-name {
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-bar {
    gap: 34px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.nav-bar-a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #E02C6D;
}
.nav-bar li  {
    list-style: none;
}
.nav-bar li a {
    text-decoration: none;
    color: #3A3A3A;
}

/* banner related style  */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    /* border: 1px solid red; */

    
}
.banner-info {
    width: 582px;
    /* border: 1px solid red; */

}
.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: #3A3A3A;
}
.banner-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin: 10px 0 16px 0;
}
/* .image-container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
 .image-container img {
  width: 100%;
  height: auto;
} */


.image-container {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    background-size: contain;
}
 .image-container img {
    width: 100%;
    height: auto;
}

/* sponsors related style  */
.sponsors-container {
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* gap: 40px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: .5px solid #3A3A3A;
    border-bottom: .5px solid #3A3A3A;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.sponsors-container img {
    margin-right: 60px;
}
/* card related style  */
    .card-container {
        margin-top: 100px;
        margin-bottom: 100px;

    }
    .card-for-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        max-width: 1140px;
        margin: 0 auto;
    }
    .card-container .main-title {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }
    .card {
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
        padding-right:  15px;
        border-radius: 8px;
        background-color: #fff;
        
        
    }
    .card-image {
        border-radius: 8px;
        margin: 17px 15px 16px 14px;
    }
    .card-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: #18191F;
        margin: 5px 14px;
    }
    .card-price {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 150%;
        margin: 0 14px 5px;
    }
    .star {
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.375rem;
        color: #5E6366;
        margin: 0 14px 5px;
    }
    .star span {
        color: #FB8200 ;
    }
    .card-description {
        font-size: .875rem;
        line-height: 143%;
        margin: 0 14px 5px;
    }
    .see-more {
        grid-column: 1 / -1;
        justify-self: end;
        font-size: 1rem;
        font-weight: 700;
        color: #E02C6D;
        text-align: right;
        margin-right: 15px;
    }
/* feature related style  */
    .feature-container {

        display: flex;
        max-width: 1110px;
        margin: 0 auto;
        gap: 100px;
        align-items: center;

    }
    /* .feature-info {
        text-align: center;
    } */
    .feature-title {
        font-size: 1.45rem;
        font-weight: 700;
        color: #0A0826 ;
        /* width: 311px;
        margin: 0 auto; */
        padding-bottom: 15px;
        text-align: justify;
    }
    .feature-description {
        width: 510px;
        /* margin: 0 auto; */
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.75rem;
        text-align: justify;
        color: #6C6C6C;
        padding-bottom: 45px;
    }
    .btn-for {
        text-align: left;
        padding: 12px 30px;
        border-radius: 8px;
        cursor: pointer;
    }
    .feature-image {
        display: flex;
        justify-content: center;
    }
    .feature-image img {
        width: 100%;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    /* FOOTER  */
    footer {
        background-color: #0A0826;
        color: #ffffff;
        text-align: center;
        padding: 50px 0;
    }
    .footer-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .copy-right, .general {
        font-size: .75rem;
        font-weight: 500;
        line-height: .875rem;
        margin-bottom: 10px;
    }
    .general{
        margin-top: 5px;
    }
    .social-container {
        margin-top: 10px;
    }
    .social-container i {
        width: 24px;
        height: 24px;
    }

/* responsive for mobile  */
@media screen and (max-width: 576px) {

    /* NAV */
     .nav-container {
        flex-direction: column;
        text-align: center;
        margin: 40px 10px;
        gap: 20px;

    }
    .nav-bar {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    /* BANNER */
    .banner-container {
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
        margin-bottom: 30px;
        padding: 0 15px;
        
    }
    .banner-info {
        width: 100%;
    }
    .banner-title {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
    .banner-description {
        font-size: 1rem;
        font-weight: 500;
        max-width: 320px;
        margin: 10px auto 20px;
    }
    .image-container {
        max-width: 280px;
        margin-bottom: 30px;
    }
    /* SPONSOR */

    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
        border: none;
    }

    .sponsors-container img {
        width: 110PX;
        height: auto;
        margin: 10px auto;

    }
    .four-logo ,
    .three-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        justify-content: center;
    }
    .abba,  
    .abba-two {
        flex-wrap: nowrap;
        gap: 16px;
    }
    .images {
        max-width: 80px;
        height: auto;
    }
    /* CARD */
    .card-container {
        margin-top: 50px;

    }
    .card-for-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        max-width: 1140px;
        margin: 0 auto;
    }
    .card-container .main-title {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    .card {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        max-width: 330px;
        margin: 0 auto 15px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
        padding:  15px;
        border-radius: 8px;
        align-items: center;
        padding-bottom: 25px;
        
        
    }
    .card-image {
        border-radius: 8px;
        margin: 17px 15px 16px 14px;
    }
    .card-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: #18191F;
        margin: 5px 14px;
    }
    .card-price {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 150%;
        margin: 0 14px 5px;
    }
    .star {
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.375rem;
        color: #5E6366;
        margin: 0 14px 5px;
    }
    .star span {
        color: #FB8200 ;
    }
    .card-description {
        font-size: .875rem;
        line-height: 143%;
        margin: 0 14px 5px;
    }
    .see-more {
        font-size: 1rem;
        font-weight: 700;
        color: #E02C6D;
        text-align: right;
        margin-right: 15px;
    }
    /* FEATURE */
    .feature-container {
        margin-top: 50px;
        flex-direction: column-reverse;
        gap: 0;

    }
    .feature-info {
        text-align: center;
    }
    .feature-title {
        font-size: 1.45rem;
        font-weight: 700;
        color: #0A0826 ;
        width: 311px;
        margin: 0 auto;
        padding-bottom: 15px;
        text-align: center;
    }
    .feature-description {
        width: 330px;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: #6C6C6C;
        padding-bottom: 20px;
        text-align: center;
    }
    .feature-image {
        display: flex;
        justify-content: center;
    }
    .feature-image img {
        width: 80%;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    /* FOOTER  */
    footer {
        background-color: #0A0826;
        color: #ffffff;
        text-align: center;
        padding: 50px 68px;
    }
    .footer-title {
        font-size: 1rem;
        font-weight: 700;
    }
    .copy-right, .general {
        font-size: .75rem;
        font-weight: 700;
        line-height: 1.5rem;
    }
    .general{
        margin-top: 5px;
    }
    .social-container {
        margin-top: 10px;
    }
    .social-container i {
        width: 24px;
        height: 24px;
    }
}

