.poppins-google-font {
  font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* shere style  */
.display-flex  {
    display: flex;

}


/* color section style  */
.almost-red {
    background-color: #E02C6D;
}
.for-head {
    color: #3A3A3A;
}
.btn {
    width: 196px;
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    border-radius: 30px;

}

/* main style  */

/* nav related style  */
.nav-container {
    justify-content: space-around;
    margin-top: 87px;
    margin-bottom: 170px;
    /* max-width: 1160px;
    margin: 0 auto; */
}
.banner-name {
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-bar {
    gap: 34px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.nav-bar-a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.nav-bar li  {
    list-style: none;
}
.nav-bar li a {
    text-decoration: none;
    color: #3A3A3A;
}

/* banner related style  */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    /* border: 1px solid red; */

    
}
.banner-info {
    width: 582px;
    /* border: 1px solid red; */

}
.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: #3A3A3A;
}
.banner-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin: 10px 0 16px 0;
}
.image-container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image-container img {
  width: 100%;
  height: auto;
}


/* .image-container {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: top  center;
    background-size: 98% auto;
    /* background-size: 95%;  */
    /* border: 1px solid green; */
    /* padding-bottom: 10px;
    
    min-height: 55vh;
    height: auto;
    margin-bottom: 100px; */
    /* border: 1px solid red;
    
} */ 
/* .image-container img {
    width: 100%;
    padding: 20px;
    height: auto;
    display: block;
    object-fit: contain;
} */

/* sponsors related style  */
.sponsors-container {
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: .5px solid #3A3A3A;
    border-bottom: .5px solid #3A3A3A;
}
.sponsors-container img {
    margin-right: 60px;
}

/* responsive for mobile  */
/* @media screen and (max-width: 576px) {
     nav , .banner-container  {
        flex-direction: column;
        text-align: center;
        margin: 87px 10px 0 10px;

    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .nav-bar {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 20px;
        margin-top: 30px;
    }
    .image-container {
        margin-bottom: 50px;
    }
    .four-logo, .three-logo {
        max-width: 290px;
        margin: 0 auto;
    }
    .banner-info {
        width: 100%;
    }
    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 10px;
    }
    .sponsors-container img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        justify-items: center;
        text-align: center;

    }
    .sponsors-container .four-logo {
        justify-items: center;
        width: 100%;
        height: auto;
    }
    .sponsors-container .three-logo {
        justify-items: center;
        width: 100%;
        height: auto;
    }
    .banner-title {
        font-size: 1.75rem;
        font-weight: 700;
    }
    .banner-description {
        font-size: 1rem;
        font-weight: 500;
        max-width: 321px;
        margin: 0 auto;
    }
    .sponsors-container {
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

} */

@media screen and (max-width: 576px) {

  /* NAV */
  .nav-container {
    flex-direction: column;
    gap: 20px;
    margin: 40px 10px;
    text-align: center;
  }

  .nav-bar {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  /* BANNER */
  .banner-container {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0 15px;
    text-align: center;
  }

  .banner-info {
    width: 100%;
  }

  .banner-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .banner-description {
    font-size: 1rem;
    max-width: 320px;
    margin: 10px auto 20px;
  }

  .image-container {
    max-width: 280px;
    margin-bottom: 30px;
  }

  /* SPONSORS */
  .sponsors-container {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .sponsors-container img {
    width: 110px;
    margin: 10px auto;
  }
}

